html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
.nav-menu-option {
    position: relative;
  }
  .nav-menu-option:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .nav-menu-option:hover:after { 
    width: 100%; 
    left: 0; 
}
.slideshow{
    width: 25vw;
    height: 25vw;
    position: absolute;
    background: white;
    border: 0.5vw solid white;
    border-bottom-width: 0.7vw;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 1);
    transition: box-shadow 0.5s;
    will-change: transform;
    transition-delay: 3s;
    animation-delay: 3s;
}
.slideshowrecord{
    -webkit-filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(0px 0px 25px rgba(0, 0, 0, 0.5));
}
.slideshow:hover{
    box-shadow: 0px 30px 100px -5px rgba(0, 0, 0, 0.75);
}
@font-face {
    font-family: 'Oswald';
    src: local('Oswald'), url(/src/fonts/oswald-v36-latin-regular.ttf) format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Bebas';
    src: local('Bebas'), url(/src/fonts/bebas-neue-v2-latin-regular.ttf) format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Playfair';
    src: local('Bebas'), url(/src/fonts/playfair-display-v22-latin-regular.ttf) format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Stereofidelic';
    src: local('Stereofidelic'), url(/src/fonts/Stereofidelic.ttf) format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Felix';
    src: local('Felix'), url(/src/fonts/Felixti.ttf) format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Facebook';
    src: local('Facebook'), url(/src/fonts/facebook.otf) format('opentype');
    font-display: swap;
}
@font-face {
    font-family: 'Instagram';
    src: local('Instagram'), url(/src/fonts/instagram.otf) format('opentype');
    font-display: swap;
}